/*
Theme Name: John Golde
Theme URI: http://jeffmcnear.com
Author: jeff mcnear
Author URI: http://jeffmcnear.com
Description: this is a custom theme created using the underscores starter theme, it has been configured to allow for 5 disticnt page templates with a full width header image editable on all pages. Archive displays allow for thumbnails to show when available in a two column layout and to show linkage to full detail only when the excerpt is populated. There are three distict left column sidebars and a extensively expanded array of controls in the customizer.
Version: 1.5
*/
.wph-modal .wph-modal--hide a, .wph-modal footer a {
  color: #322215 !important;
  font: 400 12px/20px Arial, Tahoma, Verdana;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

.wph-modal .wph-modal--close a {
  border: 0;
  box-shadow: none;
  color: #322215 !important;
  font-size: 13px;
  text-decoration: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease; }

#mc_embed_signup .button {
  clear: both;
  background-color: #322215 !important;
  border: 0 none;
  border-radius: 4px;
  letter-spacing: .03em;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
  transition: all 0.23s ease-in-out 0s;
  margin-top: 1em; }

/*---------------Links-----------------------------*/
a {
  color: #00649c;
  text-decoration: none; }

a:visited {
  color: #00649c; }

a:hover, a:focus, a:active {
  color: #001f30; }

/*-- HOME PAGE --*/
.landing-third-1 {
  float: left;
  width: 31%;
  margin: 0 2% 0 0; }

.landing-third-2 {
  float: left;
  width: 31%;
  margin: 0 1%; }

.landing-third-3 {
  float: left;
  width: 31%;
  margin: -8px 0 0 2%; }

.landing-third-1 h1, .landing-third-2 h1, .landing-third-3 h1 {
  color: #000;
  font-size: 1.25em;
  border-bottom: 2px solid #666; }

.landing-third-3 .widget {
  margin: .5em 0 0 1em; }

.landing-third-3 .cat-post-widget {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4em; }

.landing-third-3 .cat-post-widget .post-title {
  font-size: 1.1em;
  line-height: 1em; }

.landing-third-3 .cat-post-widget .post-title {
  text-decoration: none; }

/*--- FEATURED IMAGE CONTROLS ---*/
img.attachment-thumbnail {
  float: left;
  margin-right: .5em; }

/*---CATEGORY TITLE ---*/
h1.page-title, h1.entry-title, h1.answer-heading {
  color: #322215;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: normal;
  /* padding-left:1.25em; background-image:url(./images/logo-accent.png);  background-repeat:no-repeat*/ }

h1.responsive-page-title {
  visibility: collapse;
  height: 0; }

h1.page-title a, h1.entry-title a {
  color: #322215;
  text-decoration: none; }

/*------------------- Menus-----------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  width: 100%;
  height: 3em;
  position: absolute;
  top: 5em; }

.main-navigation ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
  margin: 0; }

.main-navigation li {
  position: relative;
  margin-right: .05em;
  font-size: 1em;
  display: inline-block;
  padding: .5em 2em;
  background: transparent;
  color: #000000;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.main-navigation li:last-child {
  position: relative;
  margin-right: 0;
  font-size: 1em;
  margin-bottom: .25em;
  display: inline-block;
  padding: .5em 2em; }

.main-navigation li:hover {
  background: transparent; }

.main-navigation li:hover a {
  color: #001f30;
  text-decoration: underline; }

.main-navigation a {
  display: block;
  text-decoration: none;
  font-weight: normal;
  color: #000000; }

.main-navigation a:hover {
  color: #001f30; }

.main-navigation li.current-menu-item a {
  background: transparent; }

.main-navigation .current-menu-item {
  color: #001f30;
  background: transparent; }

.main-navigation ul ul {
  margin-left: 0;
  display: block;
  float: left;
  position: absolute;
  top: 2.30em;
  left: 1em;
  z-index: 99999;
  text-align: left;
  visibility: collapse;
  opacity: .001;
  transition: all .5s ease-in-out 0s;
  background: #ffffff;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000; }

.main-navigation ul ul li {
  background: #ffffff;
  -webkit-border-radius: 0;
  border-radius: 0; }

.main-navigation ul ul li a:hover {
  text-decoration: underline; }

.main-navigation ul ul ul {
  left: 100%;
  top: 0; }

.main-navigation ul ul a {
  width: 250px; }

.main-navigation ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease 0s;
  width: 250px;
  overflow: hidden; }

.site-main .comment-navigation, .site-main .paging-navigation, .site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous, .paging-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next, .paging-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*---------- CUSTOMIZATIONS---------------*/
.clear {
  clear: both; }

/*-- for post navigation--*/
.left-split-nav {
  float: left;
  width: 48%;
  text-align: left; }

.right-split-nav {
  float: right;
  width: 48%;
  text-align: right; }

/*-- for sidebar--*/
#secondary h1.widget-title {
  background-color: transparent;
  border-bottom: solid 1px #322215;
  font-size: 1.4em;
  font-weight: normal;
  font-family: Arial, Tahoma, Verdana; }

#secondary {
  width: 30%;
  /*max-width:250px;  font-size:.85em; */ }

#secondary.widget-area {
  padding: 1em; }

#secondary .widget-area img {
  width: 80%;
  height: auto;
  margin-top: 2em; }

#secondary li {
  list-style: none;
  display: block;
  margin-left: .5em; }

#secondary li a {
  text-decoration: none; }

#secondary li.current-menu-item a {
  color: #00649c;
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  /*color:$lightBlueColor;*/ }

#secondary li a:hover {
  width: 100%;
  display: block;
  background-color: #ffffff;
  margin-left: -.25em;
  padding-left: .25em;
  text-decoration: underline; }

#secondary ul {
  margin-left: 0em; }

#secondary .widget_search {
  font-size: .85em; }

#secondary h1.entry-title {
  font-size: 1.25em;
  line-height: 1.15em;
  margin-bottom: .25em; }

/*--header region --*/
#full-top {
  border-bottom: solid 2px #322215;
  width: 100%;
  position: fixed;
  z-index: 999;
  /*background-color:$darkBrownColor; background-image:url(./images/mesaland.jpg);  background-repeat:no-repeat;  background-position:center top; */ }

#upper-band {
  width: 100%;
  z-index: 1;
  height: 110px;
  overflow-y: hidden; }

#upper-band img {
  width: 100%;
  min-height: 100%; }

.masthead-holder {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  top: 0;
  background: transparent;
  padding: 0 2em;
  /*height:200px;*/ }

#masthead {
  max-width: 1200px;
  background-color: transparent;
  padding-top: .25em;
  /*top:2em;*/
  color: #000000;
  position: absolute;
  z-index: 999;
  height: 200px; }

#masthead .site-branding {
  margin: 0; }

.site-branding h1.site-title {
  font-size: 1.5em;
  display: inline-block;
  /*text-transform:uppercase;*/
  font-family: "Cinzel", Georgia, Times, Times New Roman, serif;
  margin: .25em 0 0 0;
  font-weight: normal; }

.site-branding h1.site-title a {
  text-decoration: none;
  font-weight: normal;
  color: #ffffff; }

.site-branding h2.mastehead-info {
  font-size: 1em;
  display: inline-block;
  font-style: italic;
  margin-left: .5em;
  font-family: "Cinzel", Georgia, Times, Times New Roman, serif;
  color: #001f30; }

h2.masthead-info {
  color: #ffffff;
  margin-left: 0;
  font-family: "Cinzel", Georgia, Times, Times New Roman, serif;
  font-size: 1.15em;
  nargin-top: .5em; }

.site-header {
  width: 100%;
  z-index: 999;
  color: #000; }

#left-head {
  float: left;
  width: calc(75% - 305px); }

#left-head-1 {
  float: left;
  width: 150px; }

#left-head-2 {
  float: right;
  width: 100%; }

#right-head {
  float: right;
  width: 300px;
  margin-top: .25em; }

#right-head .social .icon-text {
  font-size: 1.25em;
  margin-right: .5em;
  font-family: "Cinzel", Georgia, Times, Times New Roman, serif;
  display: block; }

/*----- Content Area ---------------------*/
#page {
  width: 100%;
  max-width: 1400px;
  padding: 0 2em;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  margin-top: -.25em;
  margin-bottom: 0; }

.page-template-feed-page #page {
  /*margin-top:1.5em;*/ }

#main {
  padding-left: 0em; }

.page-template-feed-page #secondary h2 a {
  color: #322215; }

.page-template-feed-page #secondary h2 {
  margin: 0 0 1em 0; }

/*--- splitting styles ----*/
#page .left-side, #secondary .left-side, #foot-constraint .left-side {
  float: left;
  width: 48%;
  padding-left: 1%; }

#page .right-side, #secondary .right-side, #foot-constraint .right-side {
  float: right;
  width: 48%; }

#main .left_picture, #secondary .left_picture {
  float: left;
  width: 30%; }

#main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
  width: 90%;
  margin-right: 10%;
  height: auto; }

#main .right_text, #secondary .right_text {
  float: right;
  width: 65%; }

#main .left_text, #secondary .left_text {
  float: left;
  width: 65%; }

#main .right_picture, #secondary .right_picture {
  float: right;
  width: 30%; }

#main .archive_left_picture, #secondary .archive_left_picture {
  float: left;
  width: 20%; }

#main .archive_left_picture img, #secondary .archive_left_picture img {
  width: 100%;
  height: auto;
  margin: 0; }

#main .archive_right_text, #secondary .archive_right_text {
  float: right;
  width: 78%; }

/*-- DEFINES CONTENT AREA --*/
.content-area {
  float: right;
  margin: 0 0 0 -33%;
  width: 100%;
  padding: 1em;
  /*min-height:650px;*/ }

.question-site-main {
  float: right;
  width: 65%; }

.site-main {
  margin: 0 0 0 33%; }

/*--- HERO-TOP ----*/
#hero-top {
  width: 100%;
  clear: both;
  padding-top: 110px; }

#hero-top img {
  width: 100%;
  height: auto; }

/*-- FULL WIDTH PAGES --*/
.full-content-area {
  float: left;
  margin: 1em 0 0 0;
  width: 100%; }

.full-site-main {
  margin: 0; }

.site-content .widget-area {
  float: left;
  overflow: hidden;
  width: 30%;
  /*margin-top:1em*/ }

/*--- for landing page & landing page sidebar---*/
.front-book-array a {
  text-decoration: none; }

.page-template-landing-page #secondary li {
  padding-bottom: 1em; }

.page-template-landing-page #secondary h2 {
  margin: 0 0 1em 0; }

.page-template-landing-page #secondary h2 a {
  color: #322215; }

.page-template-landing-page #secondary h3 {
  font-weight: normal; }

.page-template-landing-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-landing-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-landing-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-landing-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

.page-template-landing-page #secondary li a {
  font-weight: normal;
  text-decoration: none; }

.page-template-feed-page #secondary .left_picture {
  float: left;
  width: 25%; }

.page-template-feed-page #secondary .right_text {
  float: right;
  width: 70%; }

.page-template-feed-page #secondary .left_text h3 {
  font-weight: normal;
  font-size: .5em; }

.page-template-feed-page #secondary li a:hover {
  color: inherit;
  width: 100%;
  display: block;
  background-color: inherit;
  margin-left: 0;
  padding-left: 0; }

/*-- footer region --*/
.footer-section {
  float: left;
  width: 33%; }

.site-footer, .site-info {
  clear: both; }

.site-info {
  text-align: right; }

.site-info p {
  font-size: .75em;
  margin: 1em 2em; }

#foot-constraint {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0 1%; }

#colophon.site-footer {
  border-top: solid 1px #ffffff; }

#colophon.site-footer a {
  color: #ffffff;
  text-decoration: underline; }

#colophon.site-footer a:hover {
  color: #ffffff;
  text-decoration: underline; }

#colophon.site-footer h4.widgettitle, #colophon.site-footer h1.widget-title, #colophon.site-footer h1 {
  color: #ffffff;
  font-weight: normal;
  font-size: 1.1em;
  margin-right: 1em; }

/*-------Reset -----------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centered in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change,without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

*, *:before, *:after {
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-box-sizing: border-box;
  /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
  -moz-box-sizing: border-box;
  /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
  box-sizing: border-box; }

body {
  background: #ffffff; }

article, aside, details, figcaption, figure, footer, header, main, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

a img {
  border: 0; }

/*------Typography---------------------------*/
body, button, input, select, textarea {
  color: #00121d;
  font-family: Arial, Tahoma, Verdana;
  font-size: 1.5em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Cinzel", Georgia, Times, Times New Roman, serif; }

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #322215;
  line-height: 1em;
  margin-bottom: .5em; }

h2 {
  font-size: 1.4em;
  line-height: 1em; }

h3 {
  font-size: 1.25em;
  font-weight: bold;
  line-height: 1.15em; }

h4 {
  font-size: 1.15em;
  line-height: 1.25em; }

h5 {
  font-size: 1.1em;
  font-weight: bold; }

h6 {
  font-size: 1.1em;
  font-wieght: normal; }

p {
  margin-bottom: 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #ffffff;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font: 15px "Courier 10 Pitch", Courier, monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #ffffff;
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

aside, blockquote {
  margin: 1em 2em;
  padding: 1em;
  border: 1px solid #000000; }

#secondary aside {
  margin: 0;
  padding: 0;
  border: 0px none transparent; }

/*-------Elements--------------------*/
hr {
  background-color: #322215;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

.clear hr {
  background-color: #322215;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul, li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*---DEFAULT OVER-RIDES--*/
td {
  vertical-align: top; }

th {
  font-weight: bold; }

/*-----------Forms----------------------*/
button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7,F3/4,S5,Chrome */
  vertical-align: baseline;
  /* Improves appearance and consistency in all browsers */
  *vertical-align: middle;
  /* Improves appearance and consistency in IE6/IE7 */ }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: #002046;
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.2em;
  line-height: 1;
  padding: .6em 1em .4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #ffffff;
  margin-top: .5em; }

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  background: #ffffff;
  color: #322215; }

button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active,
input[type="submit"]:active {
  border-color: #cccccc #cccccc #cccccc #cccccc;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15); }

input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5,Chrome */
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5,Chrome (include -moz to future-proof) */
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size: 1.5em; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5,Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea {
  color: #666;
  border: 1px solid #322215;
  border-radius: 3px; }

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, textarea:focus {
  color: #111; }

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/*----------Accessibility-------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #00649c;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*-----------------Alignments----------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto; }

/*-----------------Clearings-----------------------*/
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after,
.site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
  content: '';
  display: table; }

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
  clear: both; }

/*----------Widgets-----------------------*/
.widget {
  margin: 0 0 1.5em; }

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%; }

/* Search widget */
.widget_search .search-submit {
  display: none; }

/*----------------Posts and pages-------------------*/
.hentry {
  margin: 0; }

.byline, .updated {
  display: none; }

.single .byline, .group-blog .byline {
  display: inline; }

.page-content, .entry-content, .entry-summary {
  margin: 1em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.entry-content {
  margin: 0 !important;
  padding-right: 2em; }

.category .entry-content {
  border: none; }

.entry-content hr {
  background-color: #322215;
  border: 0;
  height: 1px;
  margin-bottom: .25em; }

/*----------Asides--------------*/
.blog .format-aside .entry-title, .archive .format-aside .entry-title {
  display: none; }

/*---------Comments-----------------------*/
.comment-content a {
  word-wrap: break-word; }

/*-------------Infinite scroll--------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, .infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block; }

/*---------------Media-------------------------------*/
.page-content img.wp-smiley, .entry-content img.wp-smiley, .comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

.wp-caption {
  border: 1px solid #cccccc;
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 1.2% auto 0;
  max-width: 98%; }

.wp-caption-text {
  text-align: center; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.site-main .gallery {
  margin-bottom: 1.5em; }

.site-main .gallery a img {
  border: none;
  height: auto;
  max-width: 90%; }

.site-main .gallery dd, .site-main .gallery figcaption {
  margin: 0; }

/* Make sure embeds and iframes fit their containers */
embed, iframe, object {
  max-width: 100%; }

/* ---  RESPONSIVE --- Small menu */
.menu-toggle {
  cursor: pointer;
  display: none; }

/*--- more over rides--*/
ul.just-archive-array {
  list-style: none;
  margin: 0; }

.just-archive-array p {
  margin: 0; }

.just-archive-array h1 {
  margin: 0; }

.page-template-page-books a {
  text-decoration: none; }

ul.top-social-icons {
  padding: 0;
  margin: 0;
  float: right; }

#right-head .top-social-icons li {
  list-style: none;
  float: left;
  margin-right: .5em;
  font-size: 1.4em; }

#right-head .social {
  float: right;
  text-align: right;
  width: 100%; }

#right-head .social a {
  color: #ffffff; }

#right-head .social a:hover {
  color: #00649c;
  text-decoration: none; }

@media (max-width: 1300px) {
  body {
    overflow-x: hidden; }

  #right-head {
    float: left; } }
@media (max-width: 1200px) {
  #foot-constraint {
    width: 90%;
    margin: 0 5%; }

  #right-head .social .icon-text {
    display: inline; }

  #right-head {
    float: left;
    width: calc(100% - 250px);
    margin-top: 0; }

  ul.top-social-icons {
    padding: 0 3em 0 0; }

  #left-head {
    float: left;
    width: calc(100% - 160px); }

  #right-head .social {
    float: left;
    text-align: left;
    width: 100%;
    margin-left: 1em; }

  .site-branding h1.site-title {
    margin: 0 0 0 .5em; }

  html {
    overflow-x: hidden; }

  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: .0; }

  .main-navigation a {
    font-size: 1.25em;
    color: #000000;
    background: transparent; }

  .main-navigation li {
    position: relative;
    margin-right: .05em;
    font-size: .75em;
    display: inline-block;
    padding: .5em .5em;
    background: transparent;
    color: #000000;
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0; }

  .main-navigation li:last-child {
    position: relative;
    margin-right: 0;
    font-size: .75em;
    margin-bottom: .25em;
    display: inline-block;
    padding: .5em .5em; }

  #page {
    width: 96%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    margin-top: .25em;
    margin-bottom: 1em; }

  .masthead-holder {
    width: 96%;
    max-width: 1000px;
    margin: 0 auto;
    top: 0;
    background: transparent; } }
@media (max-width: 900px) {
  .page-template-landing-page .content-area {
    float: left;
    margin: 1em;
    width: 100%; }

  .page-template-landing-page .site-main {
    margin: 1em; }

  .page-template-landing-page #secondary {
    width: 100%; }

  .page-template-landing-page .entry-content {
    border-right: none 0px transparent;
    padding-right: 0; }

  .page-template-feed-page .site-main {
    margin: 0; }

  .page-template-feed-page #secondary {
    width: 100%; }

  .page-template-feed-page h1.page-title {
    visibility: collapse;
    height: 0; }

  .page-template-feed-page h1.responsive-page-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; } }
@media (max-width: 825px) {
  .question-site-main {
    float: left;
    width: 100%; }

  #upper-band {
    height: 150px; }

  #hero-top {
    padding-top: 150px; }

  .site-branding h1.site-title {
    font-size: 1.25em; }

  h2.masthead-info {
    font-size: 1em;
    padding-right: 2em; }

  .landing-third-1, .landing-third-2, .landing-third-3 {
    float: left;
    width: 100%;
    margin: 2em 0 0 0; }

  .landing-third-3 .widget {
    margin: 0; }

  #page .left-side, #page .right-side {
    float: left;
    width: 100%; }

  #page .left-side {
    border-bottom: 2px solid #666;
    margin-bottom: 2em; }

  .footer-section {
    float: left;
    width: 100%;
    text-align: center; }

  .main-navigation {
    margin-top: 0em; }

  .main-navigation ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 1em; }

  .main-navigation li, .main-navigation li:last-child {
    font-size: .7em; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 80%;
    max-width: 650px; }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  .entry-content {
    border-right: none;
    padding-right: 2em; }

  .content-area {
    min-height: 0; }

  h1.page-title {
    visibility: collapse;
    height: 0; }

  h1.responsive-page-title {
    color: #002046;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto;
    background-repeat: no-repeat;
    border-bottom: 1px solid #000000; }

  .single-question h1.page-title, .single-question h1.entry-title {
    color: #322215;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: normal;
    visibility: visible;
    height: auto; } }
@media screen and (max-width: 725px) {
  #page .left-side, #secondary .left-side, #foot-constraint .left-side {
    float: left;
    width: 100%; }

  .menu-toggle, .main-navigation.toggled .nav-menu {
    display: block; }

  h1.menu-toggle {
    color: #002046;
    font-size: 1.25em;
    padding: 1em 0;
    padding-left: 1.5em;
    line-height: 1.5em;
    top: 10px;
    font-weight: normal;
    font-family: "Cinzel", Georgia, Times, Times New Roman, serif;
    background-image: url(./images/logo-accent.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    position: absolute; }

  .main-navigation {
    height: auto; }

  .main-navigation .current-menu-item {
    background: #ffffff; }

  .main-navigation li.current-menu-item a {
    background: #ffffff; }

  .main-navigation ul {
    display: none;
    margin-left: 1em;
    background: #ffffff;
    margin-top: 0;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1.25em; }

  .main-navigation a {
    display: block;
    text-decoration: none;
    font-weight: normal;
    color: #002046;
    background: #ffffff; }

  .main-navigation ul li:hover > ul, .main-navigation li:hover > ul a {
    visibility: visible;
    color: #000000;
    width: auto; }

  .main-navigation li, .main-navigation li:last-child {
    float: none;
    width: 100%;
    text-align: left;
    background: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: .85em; }

  .main-navigation li:hover, .main-navigation li:last-child:hover, .main-navigation ul ul li:hover > a, .main-navigation ul ul li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation ul ul li:hover, .main-navigation ul ul li:last-child:hover, .main-navigation li:hover > a, .main-navigation li:last-child:hover > a {
    background: inherit;
    color: #000000; }

  .main-navigation li a:hover, .main-navigation li:last-child a:hover {
    text-decoration: underline; }

  .menu-main-menu-container {
    background: #ffffff;
    position: absolute;
    top: 11em; }

  .main-navigation ul ul {
    margin-left: 0;
    display: block;
    float: left;
    position: relative;
    top: 0;
    left: 1em;
    z-index: 99999;
    text-align: left;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0s;
    background: #ffffff;
    border: none;
    width: 80%; }

  .main-navigation ul ul li {
    background: #ffffff;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

  .menu-main-container {
    top: 75px;
    left: 0;
    position: absolute;
    width: 80%; }

  .main-navigation ul ul a, .main-navigation ul ul a:hover {
    width: auto; }

  #left-head-1 {
    float: left;
    width: 75px; }

  #left-head {
    float: left;
    width: calc(100% - 80px); }

  #right-head {
    width: calc(100% - 125px); }

  #right-head .social {
    margin-left: .5em; }

  #right-head .social .icon-text {
    display: block; }

  .site-branding h1.site-title {
    font-size: 1em; }

  h2.masthead-info {
    margin-left: .5em;
    font-size: 1em; }

  .main-navigation {
    width: 100%; }

  #right-head .top-social-icons li {
    font-size: 1.15em;
    margin-right: 1em; }

  ul.top-social-icons {
    float: left; }

  .entry-content img {
    width: 60%;
    margin: 0 20%; }

  .content-area {
    float: left;
    margin: 0;
    width: 100%; }

  .site-main {
    margin: 0; }

  #secondary {
    width: 80%;
    max-width: 650px; }

  #secondary.widget-area {
    float: left;
    margin: 0;
    width: 100%;
    margin-left: 0; }

  /*--- splitting styles ----*/
  #main .left_picture, #main .right_text, #main .left_text, #main .right_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    height: auto; } }
@media (max-width: 600px) {
  #page .right-side, #secondary .right-side, #foot-constraint .right-side {
    float: right;
    width: 100%; }

  #main .left_picture, #secondary .left_picture {
    float: left;
    width: 100%; }

  #main .left_picture img, #main .right_picture img, #secondary .left_picture img, #secondary right_picture img {
    width: 70%;
    margin: 0 15%;
    height: auto; }

  #main .right_text, #secondary .right_text {
    float: right;
    width: 100%; }

  #main .left_text, #secondary .left_text {
    float: left;
    width: 100%; }

  #main .right_picture, #secondary .right_picture {
    float: right;
    width: 100%; }

  #main .archive_left_picture, #secondary .archive_left_picture {
    float: left;
    width: 100%; }

  #main .archive_left_picture img, #secondary .archive_left_picture img {
    width: 70%;
    height: auto;
    margin: 0 15%; }

  #main .archive_right_text, #secondary .archive_right_text {
    float: right;
    width: 100%; } }
@media (max-width: 500px) {
  .page-template-landing-page #secondary .left_picture {
    float: left;
    width: 100%; }

  .page-template-landing-page #secondary .right_text {
    float: left;
    width: 100%; } }
@media (max-width: 450px) {
  #right-head .top-social-icons li {
    font-size: 1.1em;
    margin-right: .75em; }

  .site-info {
    border-top: 2px solid #ffffff;
    text-align: center; } }
@media (max-width: 350px) {
  #hero-top {
    padding-top: 110px; }

  .masthead-holder {
    padding: 0 .5em; }

  #left-head {
    width: 100%; }

  ul.top-social-icons {
    /*visibility: collapse;height: 0;*/ }

  #right-head {
    width: 100%; }

  h1.menu-toggle {
    background-position: 0 1.15em;
    top: 0; }

  #upper-band {
    height: 125px; }

  .menu-main-container {
    top: 3.25em; }

  #left-head-1 {
    float: left;
    width: 0; }

  h2.masthead-info {
    visibility: collapse;
    height: 0; } }

/*# sourceMappingURL=style.css.map */
